!!!
%html
  %head
    %title BookStore
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.env.production?
      %link{rel:'stylesheet', href:'//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    #content
      = yield